body {
    width: 1000px;
    margin: 0 auto;
}

#header {
    overflow: hidden;
    margin-bottom: 10px;
}

#buttonShowCart {
    color: #00ffff;
    position: relative;
    top: 35%;
    line-height: 50px;
    left: 237px;
    border: none;
    background: #ff00dc;
}

#logo {
    line-height: 100px;
    margin: 10px;
    width: 200px;
    float: left;
    text-align: center;
    background: #EEE;
}

#welcomeBanner {
    line-height: 100px;
    margin: 10px;
    width: 760px;
    float: left;
    text-align: center;
    background: #DDD;
}

#mainContent {
    overflow: hidden;
}

#navigationMenu {
    width: 220px;
    float: left;
}

    #navigationMenu a {
        background: #EEE;
        margin: 10px;
        display: block;
        padding: 15px;
        text-align: center;
    }

        #navigationMenu a:hover {
            color: #FFF;
            background: #333;
        }

#productList {
    float: left;
    width: 780px;
}

.product {
    text-align: center;
    float: left;
    padding: 10px;
    width: 240px;
    overflow: hidden;
    position: relative;
}

    .product img {
        width: 240px;
        height: 240px;
        display: block;
    }

    .product button {
        color: #808080;
        position: absolute;
        top: 35%;
        line-height: 30px;
        width: 100px;
        border: none;
        display: none;
    }

    .product:hover button {
        display: block;
    }

    .product button.add {
        visibility: initial;
        left: 8%;
        background: #00ff21;
    }

    .product button.rem {
        visibility: hidden;
        right: 8%;
        background: #ff6a00;
    }

    .product img.cart {
        position: absolute;
        top: 10px;
        height: 210px;
        background: #808080;
        opacity: 0.6;
        display: none;
    }

    .product:hover img.cart {
        display: block;
    }

    .product .price {
        position: relative;
        margin-top: -30px;
        line-height: 30px;
        visibility: hidden;
        background: rgba(221,221,221,0.8);
    }

    .product h4 {
        font-weight: bold;
        margin: 0px;
        padding: 10px;
    }

    .product:hover {
        background: #EEE;
    }

        .product:hover .price {
            visibility: visible;
        }

#footer {
    margin-top: 10px;
    background: #EEE;
    text-align: center;
    line-height: 80px;
}

.modalCart {
     /** Hide the lightbox */
    display: none;

    /** Apply basic lightbox styling */
    position: fixed;
    z-index: 9999; /* on top of everything*/

    /* to make it full screen*/
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;

    color: #00ffff; /*default font color*/
    background:rgba(12, 12, 12,0.5); /*darken the background*/
}

    .modalCart .box {
        width: -webkit-min-content;
        width: -moz-min-content;
        width: -min-content;
        min-width: 500px;
        margin: 7% auto;
        padding: 20px;
        background-color: #333;
        box-shadow: 0px 1px 26px -3px #777777;
    }

    .modalCart .title {
        margin: 0;
        padding: 0 0 10px 0px;
        border-bottom: 3px #ccc solid;
        font-size: 22px;
    }

    .modalCart .content {
        padding: 10px 0 0 0px;
        min-height: 200px;
        font-size: 18px;
        line-height: 22px;
        display:block;
        clear:both;
    }

    .modalCart .productCount {
        display: block;
        border-bottom: 1px solid #a7a59b;
        height: 22px;
        line-height: 22px;
        padding: 4px 6px;
        font-size: 14px;
        margin-bottom: 13px;
        clear: both;
    }

    .modalCart .updater{
        float: right;
        display:block;
    }
    .modalCart button.update{
        width: 20px;
        height: 20px;
        padding: 1px;
        border-radius: 3px;
        background:#ccc;
    }

    .modalCart .foot{
        margin: 0;
        padding: 10px 0 30px 0px;
        font-size: 22px;
        border-top: 3px #ccc solid;
    }

    .modelCart .sum {
        float: left;
        display: block;
    }



    .modalCart .close {
        float: right;
        display: block;
        text-decoration: none;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 22px;
        color: #858585;
    }

    .modalCart .checkout {
        float: right;
        display: block;
        text-decoration: none;
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 22px;
        color: #858585;
    }
